.container {
	font-family: 'Poppins', sans-serif;
	background-color: #333333;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #d9d9d9;
	margin: 0;
	height: 100vh;
}

header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
	z-index: 1000;
}

.header-left {
	/* Styles for header's left section */
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 1rem;
}

.header-right {
	/* Styles for header's right section */
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 1rem;
}

h1 {
	font-size: 1.5rem;
}

.hamburger-menu {
	/* Styles for the hamburger menu container */
}

main {
	width: 100%;
	padding: 1rem;
	box-sizing: border-box;
}

/* Style for the SummaryActivities component */
.summary-box {
	width: 95%;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	background-color: #ffffff;
	box-sizing: border-box;
	border-radius: 10px;
	overflow: hidden;
	font-family: 'Poppins', sans-serif;
	font-size: 0.75rem;
	color: #484747;
	position: fixed;
	top: 60px;
	z-index: 1000;
}

.add-task {
	/* Styles for the Add a Task section */
}

.in-progress {
	/* Styles for the In Progress section */
}

.todays-graph {
	/* Styles for Today's Graph section */
}

.todays-summary {
	/* Styles for Today's Summary section */
}

.this-week-graph {
	/* Styles for This Week's Graph section */
}

footer {
	width: 100%;
	padding: 1rem;
	color: #d9d9d9;
	text-align: center;
	position: fixed;
	bottom: 0;
	z-index: 1000;
	box-sizing: border-box; /* Ensure padding and border are included in the width */
	overflow: hidden; /* Clear any potential overflow */
	font-family: 'Poppins', sans-serif;
	font-size: 0.7rem;
}

/* Add a 1px tick line at the top of the footer */
footer::before {
	content: '';
	display: block;
	height: 0.01rem;
	width: 95%;
	margin: 0 auto;
	background-color: #d9d9d9;
}

.footer-link {
	color: #fabb18;
	text-decoration: none;
	transition: color 0.3s ease;
}

.footer-link:hover {
	color: #d9d9d9;
}

/* Media query for larger screens (not the primary focus, but included for potential adjustments) */
@media screen and (min-width: 600px) {
	.container {
		background-color: #333333;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		color: #d9d9d9;
		margin: 0;
	}

	main {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		gap: 1rem;
	}
}
