/* Style for the main container */
.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100vh;
}

.main-content {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow-x: hidden;
	gap: 2rem;
	width: 90%;
}

/* Header styles */
.header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}

.header-right {
	padding-right: 1rem;
}

.header-left {
	padding-left: 1rem;
}

.current-time {
	font-size: 0.65rem;
	color: #d9d9d9;
}

/* SummaryActivities component styles */
.summary-box {
	width: 100%;
	display: flex;
	justify-content: space-around;
	background-color: #ffffff;
	border-radius: 10px;
	font-size: 0.75rem;
	color: #484747;
	margin-top: 10px; /* Adjust as needed */
}

.daily-activity-section,
.weekly-activity-section,
.monthly-activity-section {
	height: 5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0;
}

/* InputTodo component styles */
.input-todo {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* Styles for input (Add at task...) */
.input-form-control {
	width: 100%;
	height: 1rem;
	padding: 0.5rem;
	border: 1px solid #d9d9d9;
	border-radius: 5px;
}

/* Styles for "Add a task" button */
.btn-input {
	border: none;
	border-radius: 5px;
	cursor: pointer;
	background-color: #333333;
	padding : 10px;
}

.btn-input img {
	width: 2.3rem; /* Adjust the size of the button icon */
	height: 2.3rem;
}

/* ListTodo component styles */
.list-todos {
	width: 100%;
	display: grid; /* Change to grid layout */
	grid-template-columns: 1fr; /* One column for todo items */
	grid-row-gap: 10px; /* Add gap between rows */
	background-color: #ffffff;
	border-radius: 10px;
	list-style: none;
	overflow-y: auto; /* Add vertical scrollbar if content exceeds height */
	max-height: 40%;
}

.todo-item {
	display: grid; /* Change to grid layout */
	grid-template-rows: auto auto; /* Two rows for description and actions */
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
	font-size: 0.85rem;
	font-weight: 500;
}

.todo-description {
	grid-row: 1; /* Place in the first row */
	margin: 10px;
}

.todo-actions {
	grid-row: 2; /* Place in the second row */
	display: grid; /* Change to grid layout */
	grid-template-columns: auto 1fr auto; /* Three columns for total time, timer, and edit/delete */
	align-items: center;
	justify-content: space-between;
	margin: 5px;
}

.todo-total-time {
	justify-self: start; /* Align to the start of the column */
	margin-left: 5px;
}

.todo-timer {
	grid-column: 2; /* Place in the second column */
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.todo-timer * {
	margin: 5px;
}

.todo-edit-delete {
	grid-column: 3; /* Place in the third column */
	display: flex;
	justify-content: space-between;
	margin-right: 5px;
}

.todo-edit-delete * {
	margin: 5px;
}

/* Style for modal overlay */
.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black background */
	z-index: 1000; /* ensure modal appears on top of other content */
	display: flex;
	justify-content: center;
	align-items: center;
}

/* CSS for modal */
.modal {
	background-color: #ffffff;
	border-radius: 10px;
	width: 80%;
	max-width: 500px; /* max width of the modal */
	padding: 20px;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.close {
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
}

.modal-content {
	display: flex;
	justify-content: space-between;
}

/* CSS for form input */
.form {
	width: 85%;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #ccc;
}

/* CSS for save icon */
.save-icon {
	width: 30px;
	height: 30px;
	cursor: pointer;
}

.this-week-graph {
	/* Styles for This Week's Graph section */
}

/* Footer component styles */
.footer {
	width: 100%;
	background-color: #333333;
	color: #ffffff;
	text-align: center;
	padding: 10px 0;
	font-size: 0.75rem;
}

.footer-link {
	color: #fabb18;
	text-decoration: none;
	transition: color 0.3s ease;
}

.footer-link:hover {
	color: #d9d9d9;
}

/* Media query for larger screens */
@media screen and (min-width: 800px) {
	/* Style for the main container */
	.container {
		background-color: #333333;
		display: flex;
		flex-direction: column; /* Change to column layout */
		align-items: center;
		justify-content: center;
		min-height: 100vh;
	}

	.main-content {
		display: flex; /* Change to flex layout */
		flex-direction: column; /* Ensure components stack vertically */
		align-items: center;
		gap: 1rem;
	}
}
